.presents_company {
  max-width: 192rem;
  height: 114.669rem;
  background-color: var(--section-five-color);
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
}

.left_presents {
  width: 105.6rem;
  height: 98.492rem;
  display: flex;
  flex-direction: column;
  padding: 7.6rem;
  justify-content: space-around;
  gap: 4.54rem;
  margin-top: 11rem;
}

.presents_reviews_conteiner {
  display: flex;
  width: 86.4rem;
  flex-direction: column;
  justify-content: space-between;
}

/*Настройка заголовков*/

.presents_text_zag {
  font-family: 'Rubik';
  font-weight: 500;
  font-style: medium;
  font-size: 1.6rem;
  line-height: 1.6rem;
  letter-spacing: 0.075rem;
  text-align: left;
  vertical-align: middle;
  text-transform: uppercase;
  color: var(--text-color-orange);
}
.presents_zag {
  width: 86.4rem;
  height: 10.6rem;
  font-weight: 700;
  font-style: bold;
  font-size: 4.4rem;
  line-height: 5.28rem;
  letter-spacing: -0.05rem;
  vertical-align: middle;
  color: var(--black-h);
}

/*Блоки отзывов*/

.reviews_grid_2row_2col {
  width: 86.4rem;
  height: 64.012rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}

/*Галлерея*/

.img_gallery {
  width: 75.4rem;
  height: 114.69rem;
  display: grid;
  grid-template-columns: repeat(3, 25rem);
  grid-template-rows: repeat(4, 25rem);
  justify-content: center;
  align-content: center;
  align-items: center;
  gap: 2rem;
}
