.presents_company {
  width: 192rem;
  height: 114.669rem;
  background-color: var(--section-five-color);
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
}

.left_presents {
  width: 105.6rem;
  height: 98.492rem;
  display: flex;
  flex-direction: column;
  padding: 7.6rem;
  justify-content: space-around;
  gap: 4.54rem;
  margin-top: 11rem;
}

.presents_reviews_conteiner {
  display: flex;
  width: 86.4rem;
  flex-direction: column;
  justify-content: space-between;
}

/*Настройка заголовков*/

.presents_text_zag {
  font-family: 'Rubik';
  font-weight: 500;
  font-style: medium;
  font-size: 1.6rem;
  line-height: 1.6rem;
  letter-spacing: 0.075rem;
  text-align: left;
  vertical-align: middle;
  text-transform: uppercase;
  color: var(--text-color-orange);
}
.presents_zag {
  width: 86.4rem;
  height: 10.6rem;
  font-weight: 700;
  font-style: bold;
  font-size: 4.4rem;
  line-height: 5.28rem;
  letter-spacing: -0.05rem;
  vertical-align: middle;
  color: var(--black-h);
}

/*Блоки отзывов*/

.reviews_grid_2row_2col {
  width: 86.4rem;
  height: 64.012rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}

.reviews_block {
  width: 39.2rem;
  height: max-content;
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}

/*Аватарки*/

.avatar_reviews {
  width: 6.4rem;
  height: 6.4rem;
  border: none;
  border-radius: 50%;
}

/*Текст отзыва и Username*/

.reviews_user {
  width: inherit;
  font-family: 'Rubik';
  font-weight: 400;
  font-style: normal;
  font-size: 1.8rem;
  line-height: 3.24rem;
  letter-spacing: 0%;
  vertical-align: middle;
  color: var(--gray-info);
}
.user_name {
  width: inherit;
  height: 1.8rem;
  font-family: 'Rubik';
  font-weight: 400;
  font-style: normal;
  font-size: 1.6rem;
  line-height: 1.6rem;
  letter-spacing: 0%;
  vertical-align: middle;
  color: var(--user-name-color);
}

/*Галлерея*/

.img_gallery {
  width: 75.4rem;
  height: 114.69rem;
  display: grid;
  grid-template-columns: repeat(3, 25rem);
  grid-template-rows: repeat(4, 25rem);
  justify-content: center;
  align-content: center;
  align-items: center;
  gap: 2rem;
}
.gallery_pice {
  width: 25rem;
  height: 25rem;
  transition: 0.2s;
}

.gallery_pice:hover {
  transform: scale(150%);
  transition: 0.6s ease-in-out;
  box-shadow: 0 0 3rem black;
  overflow: hidden;
  border-radius: 50%;
}
