:root {
	--shadow-003: rgba(0, 0, 0, 0.3);
	--shadow-0015: rgba(0, 0, 0, 0.15);
	--shadow-0003: rgba(0, 0, 0, 0.03);
	--button-color: #38b592;
	--button-text-or-fon-color: #ffffff;
	--black-h: #333333;
	--gray-info: #555555;
	--sec1-fon: #e8f8f5;
	--border-color: #e8f8f5;
	--text-color-orange: #16a085;
	--gray-color-about: #666666;
	--case-h-color-gray: #cccccc;
	--front-circle: #e8f8f5;
	--back-circle: #d1f2eb;
	--green-color-card-mark: #51cf66;
	--lightgreen-color-card-mark: #94d82d;
	--yellow-color-card-mark: #ffd43b;
	--red-color-card-mark: rgb(245, 98, 98);
	--card-shadow: rgba(0, 0, 0, 0.075);
	--section-five-color: #e8f8f5;
	--user-name-color: #6f6f6f;
	--lightorange-color: #7dd3c0;
	--form-text-color: #0a453a;
	--light-orange-gradient-opacity: rgba(125, 211, 192, 0.35);
	--dark-orange-gradient-opacity: rgba(72, 219, 172, 0.35);
	--footer-border: #eeeeee;
	--footer-under-logo: #767676;
}
