:root {
	--shadow-003: rgba(0, 0, 0, 0.3);
	--shadow-0015: rgba(0, 0, 0, 0.15);
	--shadow-0003: rgba(0, 0, 0, 0.03);
	--button-color: #48dbac;
	--button-text-or-fon-color: #ffffff;
	--black-h: #333333;
	--gray-info: #555555;
	--sec1-fon: #e8f8f5;
	--border-color: #e8f8f5;
	--text-color-orange: #1abc9c;
	--gray-color-about: #888888;
	--case-h-color-gray: #dddddd;
	--front-circle: #e8f8f5;
	--back-circle: #d1f2eb;
	--green-color-card-mark: #51cf66;
	--lightgreen-color-card-mark: #94d82d;
	--yellow-color-card-mark: #ffd43b;
	--red-color-card-mark: rgb(245, 98, 98);
	--card-shadow: rgba(0, 0, 0, 0.075);
	--section-five-color: #e8f8f5;
	--user-name-color: #6f6f6f;
	--lightorange-color: #7dd3c0;
	--form-text-color: #0a453a;
	--light-orange-gradient-opacity: rgba(125, 211, 192, 0.35);
	--dark-orange-gradient-opacity: rgba(72, 219, 172, 0.35);
	--footer-border: #eeeeee;
	--footer-under-logo: #767676;
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	font-size: 10px;
	scroll-behavior: smooth;
}

body {
	line-height: 1;
	color: #333;
	font-family: 'Rubik';
}
main {
	max-width: 1920px;
}
.a_button {
	text-decoration: none;
	color: inherit;
}

.container {
	max-width: 130rem;
	height: 57.4rem;
	padding: 0rem 3.2rem 0rem 3.2rem;
	gap: 9.6rem;
	position: relative;
}
picture {
	width: max-content;
	height: max-content;
}

a,
button:active {
	-webkit-tap-highlight-color: transparent;
}

/*Хэдер*/

header {
	max-width: 1920px;
	height: 8rem;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	padding: 0rem 4.8rem;
	box-shadow: 0rem 1.2rem 3.6rem var(--shadow-0003);
	background-color: var(--button-text-or-fon-color);
	position: relative;
	z-index: 200;
}
.logo {
	width: 16.3rem;
	height: 2.2rem;
}
aside,
.header_right {
	width: 71rem;
	height: 4.2rem;
	display: flex;
	flex-direction: row;
	gap: 4.8rem;
	align-items: center;
}
.headname {
	font-weight: 500;
	font-size: 1.8rem;
	line-height: 1.8rem;
	letter-spacing: 0%;
	font-style: normal;
	color: var(--black-h);
	text-decoration: none;
}

/*Общие настройки кнопок*/

button {
	cursor: pointer;
	transition: 0.1s ease-out;
}
button:active {
	transform: scale(90%);
	box-shadow: inset 0 0 0.7rem var(--black-h);
	transition: 0.1s ease-in;
}
.sec1_but_cont {
	display: flex;
	width: max-content;
	flex-direction: row;
	gap: 2rem;
	margin-top: 5.9rem;
}

.orange_but {
	width: 16.6rem;
	height: 4.2rem;
	border-radius: 0.9rem;
	padding: 1.2rem 2.4rem 1.2rem 2.4rem;
	background-color: var(--button-color);
	border: none;
	color: var(--button-text-or-fon-color);
	font-style: normal;
}
.sec1_but {
	font-weight: 600;
	font-style: Bold;
	font-size: 2rem;
	line-height: 1rem;
	letter-spacing: 0%;
	text-wrap: nowrap;
	width: 34.6rem;
	height: 5.2rem;
	vertical-align: middle;
}
.white_but {
	background-color: var(--button-text-or-fon-color);
	border-radius: 0.9rem;
	border: none;
	width: 19.1rem;
	height: 5.2rem;
}

/*Секция №1*/

.grid_sec1 {
	display: grid;
	grid-template-rows: 100%;
	grid-template-columns: 46% 54%;
}
.deliver {
	font-weight: 700;
	font-size: 5.2rem;
	line-height: 5.46rem;
	letter-spacing: -0.5px;
	font-style: bold;
	color: var(--black-h);
	margin-top: -0.06rem;
}
.info_delivery {
	font-weight: 400;
	font-style: normal;
	font-size: 2rem;
	line-height: 3.2rem;
	letter-spacing: 0%;
	vertical-align: middle;
	color: var(--gray-info);
	margin-top: 4.5rem;
}

.healthy_food_dilevery {
	display: flex;
	justify-content: center;
	max-width: inherit;
	height: 71.8rem;
	padding: 4.8rem 31rem 9.6rem 31rem;
	background-color: var(--sec1-fon);
}

/*Блок аватарок*/

.avatar {
	width: 4.8rem;
	height: 4.8rem;
	border-radius: 2.4rem;
	border: 3px solid var(--border-color);
	margin-left: -2rem;
	transition: 0.2s ease-in;
	&:hover {
		transform: scale(110%) translateY(-0.6rem);

		filter: drop-shadow(0 0 1rem);
		transition: 0.5s ease-in-out;
	}
}
.text-color-orange {
	color: var(--text-color-orange);
	font-weight: 600;
	font-style: Bold;
}
.sec1_p {
	font-weight: 700;
	font-style: Bold;
	font-size: 1.8rem;
	line-height: 1.8rem;
	vertical-align: middle;
}
.avatar_and_text {
	width: 57rem;
	height: 4.8rem;
	margin-top: 8.6rem;
	display: flex;
	flex-direction: row;
	gap: 1.6rem;
	align-items: center;
	padding-left: 1.9rem;
}
.img_deliv_grid {
	object-fit: cover;
	width: 57rem;
	height: 56.2rem;
}
@media (max-width: 768px) {
	header,
	main,
	footer {
		max-width: 76.8rem;
		width: 100vw;
	}

	header {
		height: 6.4rem;
		position: sticky;
		top: 0;
	}
	footer {
		padding: 10rem 1vw;
	}
	.logo {
		width: 13rem;
		height: 1.8rem;
	}
	aside {
		display: none;
		width: 20rem;
		height: 27rem;
		z-index: 300;
		position: absolute;
		z-index: 190;
		padding: 2rem;
		padding-top: 5rem;
		border: none;
		border-radius: 0rem 0rem 1rem 1rem;
		background-color: var(--button-text-or-fon-color);
		top: 1rem;
		right: -2.6rem;
	}
	button {
		transition: 0.01s ease-out;
	}
	button:active {
		transition: 0.01s ease-in;
	}
	.header_right {
		width: 4rem;
		height: 4rem;
		position: relative;
		&::after {
			content: url(../img/icons/burger.svg);
			width: 4rem;
			height: 4rem;
			position: relative;
			z-index: 202;
			display: flex;
			align-items: center;
			justify-content: center;
		}
	}
	.menu_active {
		display: flex;
		flex-direction: column;
		gap: 3rem;
	}
	.headname {
		font-size: 1.4rem;
		line-height: 1.4rem;
	}
	.healthy_doz_info {
		padding: 6.299rem 0 3.84rem 0;
		gap: 7.68rem;
	}
	.healthy_food_dilevery {
		width: 100vw;
		height: max-content;
		padding: 2.8rem 5rem 7.6rem 5rem;
	}
	.grid_sec1 {
		display: flex;
		flex-direction: column;
		gap: 6rem;
	}
	.container {
		width: 100vw;
	}
	.left_sec1 {
		width: 90vw;
		height: max-content;
	}
	.deliver {
		font-size: 3.52rem;
		line-height: 3.696rem;
		text-align: center;
	}
	.info_delivery {
		font-size: 1.6rem;
		line-height: 2.56rem;
		text-align: center;
		margin-top: 3rem;
	}
	.sec1_but_cont {
		width: inherit;
		height: min-content;
		flex-direction: row;
		justify-content: center;
		gap: 2rem;
	}
	.sec1_but {
		font-size: 1.6rem;
		line-height: 1.6rem;
		padding: 1.28rem 2.56rem;
	}
	.orange_but.sec1_but {
		width: 27.7rem;
		height: 4.16rem;
	}
	.white_but.sec1_but {
		width: 15.3rem;
		height: 4.16rem;
	}
	.avatar_and_text {
		width: inherit;
		height: 3.839rem;
		justify-content: center;
		gap: 1.279rem;
		margin-top: 2rem;
	}
	.avatar {
		width: 3.8rem;
		height: 3.8rem;
	}
	.sec1_p {
		font-size: 1.44rem;
		line-height: 1.44rem;
	}
	.healthy_food_dilevery picture {
		margin-top: 0;
		margin: auto;
	}
	.img_deliv_grid {
		width: 38.4rem;
		height: 37.888rem;
	}
}
@media (max-width: 580px) {
	header,
	footer,
	main {
		max-width: 58rem;
		width: 100vw;
	}
	header {
		padding: 0 2.559rem;
		height: 6.4rem;
	}
	button {
		transition: 0.001s ease-out;
	}
	button:active {
		transition: 0.001s ease-in;
	}
	.header_right,
	.header_right::after {
		width: 3.839rem;
		height: 3.839rem;
	}
	.headname {
		font-size: 1.4rem;
		line-height: 1.4rem;
	}
	.healthy_food_dilevery {
		height: max-content;
		width: 100vw;
		padding: 1.92rem 0 5.12rem 0;
	}
	.container.grid_sec1 {
		display: flex;
		width: 100vw;
		flex-direction: column;
		align-items: center;
		padding: 0 2.56rem;
		gap: 5.119rem;
	}
	.left_sec1 {
		width: 33.8rem;
		height: max-content;
	}

	.deliver {
		width: inherit;
		height: 14.8rem;
		font-size: 3.52rem;
		line-height: 3.696rem;
	}
	.info_delivery {
		width: inherit;
		height: 10.3rem;
		font-size: 1.6rem;
		line-height: 2.56rem;
	}
	.sec1_but_cont {
		display: flex;
		flex-direction: column;
		gap: 0.5rem;
		width: inherit;
		height: max-content;
		align-items: center;
	}

	.avatar_and_text {
		width: inherit;
		height: 3.839rem;
		gap: 1.28rem;
	}
	.sec1_but {
		padding: 1.92rem 1.28rem;
		font-size: 1.6rem;
		line-height: 1.6rem;
	}
	.sec1_but.orange_but {
		width: 25.16rem;
		height: 5.44rem;
	}
	.white_but.sec1_but {
		width: 20rem;
		height: 5.44rem;
	}
	.avatar {
		width: 3.839rem;
		height: 3.839rem;
	}
	.sec1_p {
		width: 16.032rem;
		height: 2.96rem;
		padding: 0 0.316rem 0.061rem 0.316rem;
		font-size: 1.44rem;
		line-height: 1.44rem;
		text-align: center;
		vertical-align: middle;
	}
	.img_deliv_grid {
		width: 29rem;
		width: 28rem;
		object-fit: contain;
	}
}
@media (max-width: 412px) {
	header,
	footer,
	main {
		max-width: 41.2rem;
		width: 100vw;
	}
	header {
		padding: 0 2.559rem;
		height: 6.4rem;
	}
	button {
		transition: 0.001s ease-out;
	}
	button:active {
		transition: 0.001s ease-in;
	}
	.header_right,
	.header_right::after {
		width: 3.839rem;
		height: 3.839rem;
	}
	.headname {
		font-size: 1.4rem;
		line-height: 1.4rem;
	}
	.healthy_food_dilevery {
		height: max-content;
		width: 100vw;
		padding: 1.92rem 0 5.12rem 0;
	}
	.container.grid_sec1 {
		display: flex;
		width: 100vw;
		flex-direction: column;
		align-items: center;
		padding: 0 2.56rem;
		gap: 5.119rem;
	}
	.left_sec1 {
		width: 33.8rem;
		height: max-content;
	}

	.deliver {
		width: inherit;
		height: 14.8rem;
		font-size: 3.52rem;
		line-height: 3.696rem;
	}
	.info_delivery {
		width: inherit;
		height: 10.3rem;
		font-size: 1.6rem;
		line-height: 2.56rem;
	}
	.sec1_but_cont {
		display: flex;
		flex-direction: column;
		gap: 0.5rem;
		width: inherit;
		height: max-content;
		align-items: center;
	}

	.avatar_and_text {
		width: inherit;
		height: 3.839rem;
		gap: 1.28rem;
	}
	.sec1_but {
		padding: 1.92rem 1.28rem;
		font-size: 1.6rem;
		line-height: 1.6rem;
	}
	.sec1_but.orange_but {
		width: 25.16rem;
		height: 5.44rem;
	}
	.white_but.sec1_but {
		width: 20rem;
		height: 5.44rem;
	}
	.avatar {
		width: 3.839rem;
		height: 3.839rem;
	}
	.sec1_p {
		width: 16.032rem;
		height: 2.96rem;
		padding: 0 0.316rem 0.061rem 0.316rem;
		font-size: 1.44rem;
		line-height: 1.44rem;
		text-align: center;
		vertical-align: middle;
	}
	.img_deliv_grid {
		width: 29rem;
		width: 28rem;
		object-fit: contain;
	}
}
