.block_gallery_pice {
  width: 25rem;
  height: 25rem;
  overflow: hidden;
}
.gallery_pice {
  width: 25rem;
  height: 25rem;
  transition: 0.2s;
}

.gallery_pice:hover {
  transform: scale(110%);
  transition: 0.4s ease-in-out;
  box-shadow: 0 0 3rem black;
}
