:root {
  --shadow-003: rgba(0, 0, 0, 0.3);
  --button-color: #e67e22;
  --button-text-or-fon-color: #ffffff;
  --black-h: #333333;
  --gray-info: #555555;
  --sec1-fon: #fdf2e9;
  --border-color: #fdf2e9;
  --text-color-orange: #cf711f;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

body {
  font-family: system-ui, -apple-system, sans-serif;
  line-height: 1;
  color: #333;
  overflow-x: hidden;
}

.container {
  max-width: 130rem;
  height: 57.4rem;
  padding: 0rem 3.2rem 0rem 3.2rem;
  margin: 0 auto;
  gap: 9.6rem;
  position: relative;
}
header {
  width: 192rem;
  height: 8rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0rem 4.8rem 0rem 4.8rem;
  box-shadow: 0rem 1.2rem 3.6rem var(--shadow-003);
}
.logo {
  width: 16.3rem;
  height: 2.2rem;
}
.header_right {
  width: 71rem;
  height: 4.2rem;
  display: flex;
  flex-direction: row;
  gap: 4.8rem;
  align-items: center;
}
.headname {
  font-weight: 500;
  font-size: 1.8rem;
  line-height: 1.8rem;
  letter-spacing: 0%;
  font-style: normal;
  color: var(--black-h);
  text-decoration: none;
}
button {
  cursor: pointer;
}
button:active {
  transform: scale(90%);
  box-shadow: inset 0 0 0.7rem var(--black-h);
  transition: 0.6s;
}
.orange_but {
  width: 16.6rem;
  height: 4.2rem;
  border-radius: 0.9rem;
  padding: 1.2rem 2.4rem 1.2rem 2.4rem;
  background-color: var(--button-color);
  border: none;
  color: var(--button-text-or-fon-color);
  font-style: normal;
}
.grid_sec1 {
  display: grid;
  grid-template-rows: 100%;
  grid-template-columns: 46% 54%;
}
.deliver {
  font-weight: 700;
  font-size: 5.2rem;
  line-height: 5.46rem;
  letter-spacing: -0.5px;
  font-style: bold;
  color: var(--black-h);
  margin-top: -0.06rem;
}
.info_delivery {
  font-weight: 400;
  font-style: normal;
  font-size: 2rem;
  line-height: 3.2rem;
  letter-spacing: 0%;
  vertical-align: middle;
  color: var(--gray-info);
  margin-top: 4.5rem;
}
.sec1_but {
  font-weight: 600;
  font-style: SemiBold;
  font-size: 2rem;
  line-height: 1rem;
  letter-spacing: 0%;
  width: 34.6rem;
  height: 5.2rem;
  margin-top: 5.9rem;
  padding: 1.6rem 3.2rem;
  vertical-align: middle;
}
.healthy_food_dilevery {
  width: 192rem;
  height: 71.8rem;
  padding: 4.8rem 31rem 9.6rem 31rem;
  background-color: var(--sec1-fon);
}
.white_but {
  background-color: var(--button-text-or-fon-color);
  border-radius: 0.9rem;
  border: none;
  width: 19.1rem;
  height: 5.2rem;
  margin-left: 1.6rem;
}
.avatar {
  width: 4.8rem;
  height: 4.8rem;
  border-radius: 2.4rem;
  border: 3px solid var(--border-color);
  margin-left: -2rem;
}
.avatar:hover {
  transform: scale(130%);
  margin-left: -1rem;
  margin-right: 1rem;
  filter: drop-shadow(0 0 1rem);
  transition: 0.5s;
}
.text-color-orange {
  color: var(--text-color-orange);
  font-weight: 600;
  font-style: SemiBold;
}
.sec1_p {
  font-weight: 700;
  font-style: Bold;
  font-size: 1.8rem;
  line-height: 1.8rem;
  vertical-align: middle;
}
.avatar_and_text {
  width: 57rem;
  height: 4.8rem;
  margin-top: 8.6rem;
  display: flex;
  flex-direction: row;
  gap: 1.6rem;
  align-items: center;
  padding-left: 1.9rem;
}
.img_deliv_grid {
  width: 57rem;
  height: 56.2rem;
}
