.for_registr_form {
  max-width: 192rem;
  height: 76rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

/*Оболочка секции и блоки*/

.registr_form_block {
  width: 113.6rem;
  height: 58.48rem;
  border: none;
  border-radius: 1.1rem;
  display: flex;
  overflow: hidden;
  background: linear-gradient(145deg, var(--lightorange-color), var(--button-color));
  box-shadow: 0 2.4rem 4.8rem var(--shadow-015);
}
.registr_left_text_block {
  width: 72rem;
  height: 58.48rem;
  padding: 4.73rem 6.4rem 6.4rem 6.4rem;
  display: flex;
  flex-direction: column;
  gap: 3.14rem;
}
.form_grid_pice {
  width: 29.866rem;
  height: 8.5rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  gap: 2rem;
}
.form_img,
.form_right_block {
  width: 43rem;
  height: 58.48rem;
  position: relative;
}
.form_right_block::before {
  content: '';
  width: inherit;
  height: inherit;
  position: absolute;
  z-index: 2000;
  pointer-events: none;
  top: 0rem;
  left: 0rem;
  background: linear-gradient(
    145deg,
    var(--light-orange-gradient-opacity),
    var(--dark-orange-gradient-opacity)
  );
}

/*Наполнение секций*/

.registr_zag {
  width: 62.933rem;
  height: 10.6rem;
  font-weight: 700;
  font-style: bold;
  font-size: 4.4rem;
  line-height: 5.28rem;
  letter-spacing: -0.05rem;
  vertical-align: middle;
  color: var(--form-text-color);
}
.registr_text {
  width: 62.933rem;
  height: 9.8rem;
  font-weight: 400;
  font-style: normal;
  font-size: 1.8rem;
  line-height: 3.24rem;
  letter-spacing: 0%;
  vertical-align: middle;
  color: var(--form-text-color);
}
.input_form_grid {
  width: 62.933rem;
  height: 20.66rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  align-content: center;
  justify-content: center;
}
.form_grid_zag {
  width: inherit;
  height: 1.6rem;
  font-weight: 500;
  font-style: normal;
  font-size: 1.6rem;
  line-height: 1.6rem;
  letter-spacing: 0%;
  vertical-align: middle;
  color: var(--form-text-color);
}
.registr_form_input {
  width: 29.866rem;
  height: 4.8rem;
  border: none;
  border-radius: 0.9rem;
  background-color: var(--front-circle);
  box-shadow: 0 0.1rem 0.2rem var(--shadow-003);
  padding-left: 1rem;
  outline: none;
  transition: 0.2s ease-in-out;
}
.registr_form_input:focus {
  box-shadow: inset 0 0.1rem 0.3rem var(--shadow-003), 0 0.1rem 3rem var(--shadow-003);
  transform: scale(103%);
  transition: 0.2s ease-in-out;
}
