/*Сами колонки пометок и их заполнение*/

.mark_cost {
  width: 23.6rem;
  height: 34.795rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.mark_cost_img {
  width: 6.4rem;
  height: 6.4rem;
  border-radius: 50%;
}
.mark_cost_zag {
  width: inherit;
  height: 4.8rem;
  font-weight: 700;
  font-style: bold;
  font-size: 2.4rem;
  line-height: 2.4rem;
  letter-spacing: 0%;
  vertical-align: middle;
  color: var(--black-h);
}
.mark_cost_info {
  width: inherit;
  height: 13rem;
  font-weight: 400;
  font-style: normal;
  font-size: 1.8rem;
  line-height: 3.24rem;
  letter-spacing: 0%;
  vertical-align: middle;
  color: var(--gray-info);
}
