.company {
  display: flex;
  justify-content: center;
  width: 192rem;
}
.company_container {
  display: flex;
  flex-direction: row;
  width: 113.6rem;
  height: 3.2rem;
  padding: 0rem 2.73rem 0rem 2.73rem;
  gap: 5.46rem;
}
.about {
  width: 113.6rem;
  height: 1.4rem;
  font-weight: 500;
  font-style: normal;
  font-size: 1.4rem;
  line-height: 1.4rem;
  letter-spacing: 0.075rem;
  text-align: center;
  text-wrap: nowrap;
  vertical-align: middle;
  text-transform: uppercase;
  color: var(--gray-color-about);
}
.flex_col_sec2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  gap: 2.4rem;
  width: 120rem;
  height: 10rem;
  margin-top: 2.6rem;
  margin-left: 3.6rem;
}
.logos_company {
  height: 3.2rem;
  opacity: 50%;
}
