.reviews_block {
  width: 39.2rem;
  height: max-content;
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}

/*Аватарки*/

.avatar_reviews {
  width: 6.4rem;
  height: 6.4rem;
  border: none;
  border-radius: 50%;
}

/*Текст отзыва и Username*/

.reviews_user {
  width: inherit;
  font-family: 'Rubik';
  font-weight: 400;
  font-style: normal;
  font-size: 1.8rem;
  line-height: 3.24rem;
  letter-spacing: 0%;
  vertical-align: middle;
  color: var(--gray-info);
}
.user_name {
  width: inherit;
  height: 1.8rem;
  font-family: 'Rubik';
  font-weight: 400;
  font-style: normal;
  font-size: 1.6rem;
  line-height: 1.6rem;
  letter-spacing: 0%;
  vertical-align: middle;
  color: var(--user-name-color);
}
