@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
:root {
  --shadow-003: rgba(0, 0, 0, 0.03);
  --shadow-015: rgba(0, 0, 0, 0.15);
  --button-color: #e67e22;
  --button-text-or-fon-color: #ffffff;
  --black-h: #333333;
  --gray-info: #555555;
  --sec1-fon: #fdf2e9;
  --border-color: #fdf2e9;
  --text-color-orange: #cf711f;
  --gray-color-about: #888888;
  --case-h-color-gray: #dddddd;
  --front-circle: #fdf2e9;
  --back-circle: #fae5d3;
  --green-color-card-mark: #51cf66;
  --lightgreen-color-card-mark: #94d82d;
  --yellow-color-card-mark: #ffd43b;
  --red-color-card-mark: rgb(245, 98, 98);
  --card-shadow: rgba(0, 0, 0, 0.075);
  --section-five-color: #fdf2e9;
  --user-name-color: #6f6f6f;
  --lightorange-color: #eb984e;
  --form-text-color: #45260a;
  --light-orange-gradient-opacity: rgba(235, 151, 78, 0.35);
  --dark-orange-gradient-opacity: rgba(230, 125, 34, 0.35);
  --footer-border: #eeeeee;
  --footer-under-logo: #767676;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
  scroll-behavior: smooth;
}

body {
  line-height: 1;
  color: #333;

  font-family: 'Rubik';
}
.a_button {
  text-decoration: none;
  color: inherit;
}

.container {
  max-width: 130rem;
  height: 57.4rem;
  padding: 0rem 3.2rem 0rem 3.2rem;
  margin: 0 auto;
  gap: 9.6rem;
  position: relative;
}
.headname {
  font-weight: 500;
  font-size: 1.8rem;
  line-height: 1.8rem;
  letter-spacing: 0%;
  font-style: normal;
  color: var(--black-h);
  text-decoration: none;
}

/*Общие настройки кнопок*/

button {
  cursor: pointer;
  transition: 0.1s ease-in-out;
}
button:active {
  transform: scale(90%);
  box-shadow: inset 0 0 0.7rem var(--black-h);
  transition: 0.2s ease-in-out;
}
.orange_but {
  width: 16.6rem;
  height: 4.2rem;
  border-radius: 0.9rem;
  padding: 1.2rem 2.4rem 1.2rem 2.4rem;
  background-color: var(--button-color);
  border: none;
  color: var(--button-text-or-fon-color);
  font-style: normal;
}
.sec1_but {
  font-weight: 600;
  font-style: Bold;
  font-size: 2rem;
  line-height: 1rem;
  letter-spacing: 0%;
  width: 34.6rem;
  height: 5.2rem;
  margin-top: 5.9rem;
}
.white_but {
  background-color: var(--button-text-or-fon-color);
  border-radius: 0.9rem;
  border: none;
  width: 19.1rem;
  height: 5.2rem;
  margin-left: 1.6rem;
}
.cost_card_button {
  width: 30.6rem;
  height: 7.2rem;
  border-radius: 0.9rem;
  border: none;
  padding: 1.6rem 0.8rem;
  background-color: var(--button-color);
  font-weight: 600;
  font-style: Bold;
  font-size: 2rem;
  line-height: 2rem;
  letter-spacing: 0%;
  text-align: center;
  vertical-align: middle;
  color: var(--button-text-or-fon-color);
}
.registr_form_button {
  width: 29.922rem;
  height: 4.8rem;
  border: none;
  border-radius: 0.9rem;
  padding: 1.2rem;
  background-color: var(--form-text-color);
  color: var(--button-text-or-fon-color);
}
.registr_form_button:active {
  box-shadow: inset 0 0 0.7rem var(--sec1-fon);
}
